---
layout: single
title: Weapons
sidebar:
  nav: system
---

{% for skill in site.data.skills %}
  {% assign weapons =
    site.data.weapon_combinations | where: "skill", skill[0]
   %}
  {% assign num_weapons = weapons | size %}
  {% if num_weapons > 0 %}
    <h2>{{ skill[0] }}</h2>
    
    <table>
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Damage</th>
        <th>Weight</th>
        <th>Special</th>
      </tr>
      {% for weapon in weapons %}
        <tr>
          <td>{{ weapon.name }}</td>
          <td>{{ weapon.cost }} credits</td>
          <td>1d{{ weapon.damage }} {{ weapon.damage_type }}</td>
          <td>{{ weapon.weight }} lb</td>
          <td>{{ weapon.special | sort | join: ", " }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}
