---
layout: single
title: Weapons
sidebar:
  nav: system
---

Now with {{ site.data.weapon_combinations | size }} unique weapons!

{% for category in site.data.weapons.other.categories %}
  {% assign weapons = site.data.weapon_combinations | where: "category", category[0] %}
  {% assign num_weapons = weapons | size %}
  {% if num_weapons > 0 %}
    <h2>{{ category[0] }}</h2>

    <table>
      <tr>
        {% for column in category[1] %}
        <th>{{ column }}</th>
        {% endfor %}
      </tr>
      {% for weapon in weapons %}
      <tr>
        {% for column in category[1] %}
        <td>{{ weapon[ column ] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}

<h2>Weapon Traits</h2>
{% for trait in site.data.weapons.other.traits %}
  <h3>{{ trait[0] }}</h3>
  {{ trait[1] }}
{% endfor %}
