---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

hr {
  margin: 0.125em 0;
}

// .page {
//   padding-right: 20px;
// }
// .page__footer {
//   height: 0;
//   font-size: 0; // Ugly hack to hide footer
// }

.search__toggle {
  color: $masthead-link-color
}
.navicon {
  color: $masthead-link-color;
  background-color: $masthead-link-color;
}
.navicon::before {
  color: $masthead-link-color;
  background-color: $masthead-link-color;
}
.navicon::after {
  color: $masthead-link-color;
  background-color: $masthead-link-color;
}

.page__title {
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.5em;
}
.page__content p {
  margin-bottom: .5em
}
.page__content h2 {
  padding-bottom: .25em
}
.page__content dd {
  font-size: 1em;
}

th {
  border-bottom: 1px solid mix(#000, $border-color, 25%)
}
td {
  border-bottom: 0px solid mix(#000, $border-color, 25%)
}
tr, td, th {
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tr:nth-child(even) {
  background-color: #ebdeca
}
tr:nth-child(odd) {
  background-color: #e2cba4
}

.traits {
  margin: -.5em 0 0 0;
  padding-left: 0;
}

.trait {
  display: inline;
  background: rgb(95, 22, 22);
  border: rgb(206, 181, 102) 2px solid;
  padding: 1px 8px;
  font-size: 0.75em !important;
  text-transform: uppercase;
}
.trait > a {
  text-decoration: none;
  color: #fff;
}

.page__content dl {
  margin: 0;
}
.page__content dl + dl {
  margin-top: 0.25em;
}
.page__content dl + p {
  margin-top: 0.5em;
}
.page__content dt, dd {
  display: inline;
}
dd:after {
  content: "";
  display: block;
}

ul li, ol li {
  margin-bottom: 0
}
ul {
  margin-block-start: 0;
  margin-block-end: .5em;
}

h1, h2 + .tags {
  margin: -.5em 0 0 0;
}

.inline-icon {
  height: 1.3em;
  margin-top: -0.2em;
}

.alignright {
	float: right;
}
