---
layout: single
sidebar:
  nav: system
---

{% assign power = page.data[1] %}

<ul class="traits">
  {% for trait in power.traits %}
    <li class="trait">{{ trait }}</li>
  {% endfor %}
</ul>

<dl class="tags">
  <dt>Type</dt>
  <dd>{{ power.type }}</dd>

  {% for tag in power.tags %}
    <dt>{{ tag[0] | capitalize }}</dt>
    <dd>{{ tag[1] }}</dd>
  {% endfor %}
</dl>

<hr>

<p>{{ power.effect }}</p>

<dl class="tags">
  {% if power.critical-success %}
    <dt>Critical Success</dt>
    <dd>{{ power.critical-success }}</dd>
  {% endif %}
  {% if power.success %}
    <dt>Success</dt>
    <dd>{{ power.success }}</dd>
  {% endif %}
  {% if power.failure %}
    <dt>Failure</dt>
    <dd>{{ power.failure }}</dd>
  {% endif %}
  {% if power.critical-failure %}
    <dt>Critical Failure</dt>
    <dd>{{ power.critical-failure }}</dd>
  {% endif %}
</dl>