---
layout: single
sidebar:
  nav: system
---

{% assign school = page.data[1] %}

<p>{{ school.description }}</p>

<table>
  <tr>
    <th>Name</th>
    <th>Tier</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in school.powers %}
    <tr>
      <td>
        <a href="{% link {{ power | slugify }}.html %}">{{ power }}</a>
      </td>
      <td>{{ site.data.powers[power].tier }}</td>
      <td>{{ site.data.powers[power].type }}</td>
      <td>{{ site.data.powers[power].brief }}</td>
    </tr>
  {% endfor %}
</table>
