---
layout: single
sidebar:
  nav: system
---

{% assign school = page.data[1] %}

<p>{{ school.description }}</p>

<table>
  <tr>
    <th>Name</th>
    <th>Tier</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  {% for power in site.data.powers %}
    {% if power[1].school == page.data[0] %}
      <tr>
        <td>
          <a href="{% link {{ power[0] | slugify }}.html %}">{{ power[0] }}</a>
        </td>
        <td>{{ power[1].tier }}</td>
        <td>{{ power[1].type }}</td>
        <td>{{ power[1].brief }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
